.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #e2ece6;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-header {
  padding: 5px 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #ccc;
  text-align: center;
  display: flex;
  align-items: center;
}

.sidebar-header .logo {
  width: 3rem;
}

.sidebar-header .title {
  font-size: 20px;
  color: #333;
  margin-left: 12px;
  font-weight: bold;
}

.sidebar-content {
  flex-grow: 1;
  padding: 20px 10px;
  overflow-y: auto;
}

.sidebar-content::-webkit-scrollbar {
  width: 8px;
}
.sidebar-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
.sidebar-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.sidebar-content::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.sidebar-content ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-content ul li {
  font-size: 18px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.sidebar-content ul li:hover {
  background-color: #b4e6cf;
}

.sidebarLabel {
  margin-left: 10px;
}

.sidebar-content ul li.active {
  background-color: #b4e6cf;
  font-weight: bold;
}
.sidebar-content ul li.active .rightLine {
  background-color: #333;
  width: 5px;
  height: 25px;
  position: relative;
  margin-left: auto;
}

.sidebar-footer {
  padding: 10px 15px;
  border-top: 2px solid #ccc;
  display: flex;
  align-items: center;
}

.sidebar-footer .profile-icon {
  width: 3rem;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #ccc;
}

.sidebar-footer .profile-name {
  font-size: 16px;
  color: #333;
  margin-left: 12px;
  font-weight: bold;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.ellipsis-icon {
  width: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.ellipsis-icon:hover {
  transform: rotate(90deg);
}

.tooltip {
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-bottom: 10px;
  z-index: 100;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 10px;
  border-width: 6px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.tooltip ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tooltip li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tooltip li:hover {
  background-color: #f5f5f7;
}

.tooltip li:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tooltip li:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.tooltip-icon {
  margin-right: 8px;
  font-size: 18px;
  color: #666;
}

.announcement-count {
  background-color: red;
  color: white;
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
